#header {
    clear: float;
    width: 100%;
}

#header-title {
  padding-bottom: 20px;
}

#sidebar {
    float: left;
    width: 20%;
}
#main {
    clear: both;
    float: left;
    width: 80%;
}
#footer {
    clear: both;
    float: left;
}
#footer h3 {
    font-size: 12px;
}
